@charset "UTF-8";
/* ========================================
    リセットcss
========================================= */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  overflow-y: scroll; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

input, textarea {
  margin: 0;
  padding: 0; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th {
  text-align: left; }

a:focus {
  outline: none; }

/* micro clearfix */
.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

/* ========================================
    共通レイアウト
========================================= */
* {
  font-size: 12.5px;
  font-family: "游明朝体", YuMincho, "游明朝 Medium", "Yu YuMincho Medium", "游明朝", "Yu YuMincho", "メイリオ", sans-serif; }

a {
  font-size: 12.5px;
  text-decoration: none; }

.online-shop-btn a:hover, .online-shop-btn a:hover {
  opacity: 0.6; }

.more-btn {
  margin: 0 auto;
  margin-top: 115px;
  width: 280px;
  height: 53px;
  display: block;
  border: solid 1px #fff; }
  .more-btn a {
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 53px;
    color: #fff;
    display: block; }
    .more-btn a:hover {
      color: #59793a;
      background-color: #fff; }

/* ========================================
    ヘッダー
========================================= */
header {
  width: 100%;
  height: auto;
  background-color: #59793a; }

.h-wrapper {
  width: 1000px;
  margin: 0 auto;
  height: auto; }

.h-info {
  float: right; }
  .h-info ul {
    float: left; }
    .h-info ul li {
      line-height: 40px; }
      .h-info ul li a {
        color: #fff; }
  .h-info ul.recruit li {
    display: inline-block; }
  .h-info ul.language {
    margin: 0 50px; }
    .h-info ul.language li {
      float: left;
      letter-spacing: 1px; }
      .h-info ul.language li a {
        font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif; }
      .h-info ul.language li span {
        color: #fff;
        padding: 0 5px; }
  .h-info ul.sns-wrapper li {
    float: left;
    padding-right: 15px; }
    .h-info ul.sns-wrapper li:last-child {
      padding-right: 0; }
  .h-info i.top-icon {
    font-size: 16px;
    color: #fff; }

/* ========================================
    メイン
========================================= */
/*========== top ========== */
#top {
  height: 750px;
  background: url("top.jpg"); }

.translate {
  position: fixed;
  bottom: 0;
  left: 50px;
  display: fixed;
  z-index: 1000;
  background: #83971d; }
  .translate a {
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    display: block;
    padding: 6px 26px; }

.top-menu {
  width: 1000px;
  margin: 0 auto;
  padding-top: 15px; }
  .top-menu h1 {
    float: left;
    background-color: purple;
    width: 151px;
    height: 45px;
    margin-right: 20px; }
  .top-menu ul {
    float: left;
    line-height: 45px;
    width: auto;
    height: 45px; }
    .top-menu ul li {
      display: inline-block;
      padding: 0 1em; }
      .top-menu ul li:last-child {
        margin-right: 20px; }
      .top-menu ul li a {
        color: #fff;
        font-size: 13.5px;
        letter-spacing: 2.5px; }
        .top-menu ul li a.second {
          color: red; }
  .top-menu .online-shop-btn {
    color: #fff;
    float: right;
    background: #bf0000;
    width: 190px;
    height: 45px;
    display: inline-block;
    line-height: 45px;
    text-align: center; }
    .top-menu .online-shop-btn a {
      display: block;
      color: #fff; }
    .top-menu .online-shop-btn span {
      padding-right: 5px; }

/*========== about/product共通 ========== */
.green-back {
  background: #59793a;
  color: #fff; }

h2 {
  font-size: 30px;
  letter-spacing: 1.7px;
  margin-bottom: 55px;
  text-align: center;
  color: #fff; }
  h2 span {
    font-size: 19px;
    letter-spacing: 5px;
    font-family: 'Courgette', cursive; }

/*========== about ========== */
#about {
  width: 100%;
  height: 690px; }
  #about .left {
    width: 50%;
    height: 690px;
    float: left; }
    #about .left img {
      width: 100%;
      object-fit: cover; }
  #about .right {
    position: relative;
    width: 50%;
    height: 690px;
    float: left; }
    #about .right .text-wrapper {
      position: absolute;
      width: 60%;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      text-align: center; }
      #about .right .text-wrapper p {
        font-size: 15px;
        letter-spacing: 2px;
        margin: 30px 0; }

/*========== product ========== */
#product {
  width: 100%;
  height: 690px;
  background-color: pink; }
  #product .left {
    position: relative;
    width: 50%;
    height: 690px;
    float: left; }
    #product .left .text-wrapper {
      position: absolute;
      width: 60%;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      text-align: center; }
      #product .left .text-wrapper p {
        font-size: 15px;
        letter-spacing: 2px;
        margin: 30px 0; }
  #product .right {
    width: 50%;
    height: 690px;
    float: left; }
    #product .right img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

/*=== event-and-shop === */
#event-and-shop {
  width: 100%;
  height: 690px;
  position: relative;
  background: #000;
  display: inline-block; }
  #event-and-shop img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
    vertical-align: bottom; }
  #event-and-shop .text-wrapper {
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    margin: 0;
    padding: 0; }
    #event-and-shop .text-wrapper .more-btn {
      margin: 0 auto;
      margin-top: 340px;
      width: 280px;
      height: 53px;
      display: block;
      border: solid 1px #fff; }
      #event-and-shop .text-wrapper .more-btn a:hover {
        color: black; }

/*=== information-contents === */
.information-contents {
  width: 100%;
  height: auto;
  background: url("back-img.jpg"); }

.information-wrapper {
  width: 55%;
  margin: 0 auto; }

.info-box {
  width: auto;
  padding: 30px;
  border-bottom: 1px solid #c9c3ae; }
  .info-box .date-wrap {
    width: auto;
    display: inline-block;
    float: left;
    line-height: 22px; }
    .info-box .date-wrap p.date {
      display: inline-block;
      font-size: 11px;
      vertical-align: middle;
      padding-right: 5px; }
    .info-box .date-wrap p.new-tag {
      background: #ce1225;
      display: inline-block;
      font-size: 10px;
      font-family: 'Courgette', cursive;
      line-height: 15px;
      color: #fff;
      width: 30px;
      height: 16px;
      vertical-align: middle;
      text-align: center; }
  .info-box .news-title a {
    margin-left: 45px;
    color: #000;
    font-size: 12.5px;
    letter-spacing: 1px; }
  .info-box .shop-tag {
    background: #85961c;
    color: #fff;
    display: inline-block;
    margin-left: 45px;
    margin-top: 13px;
    font-size: 12.5px;
    padding: 3px 5px; }
    .info-box .shop-tag:hover {
      opacity: 0.6; }

#news {
  width: 100%;
  height: auto;
  position: relative;
  padding-top: 145px; }
  #news h2 {
    color: #59793a; }

#yomimono {
  padding: 90px 0 150px 0;
  width: 100%;
  height: auto;
  position: relative; }
  #yomimono h2 {
    color: #59793a; }

/* ========================================
    フッター
========================================= */
footer {
  color: #fff;
  width: 100%;
  height: auto;
  background-color: #59793a; }
  footer a {
    color: #fff;
    font-size: 13px;
    letter-spacing: 3px; }

.f-container {
  width: 70%;
  height: auto;
  margin: 0 auto;
  padding: 60px 0;
  overflow: hidden; }
  .f-container p {
    text-align: right; }

.f-wrapper {
  width: 100%;
  margin-bottom: 60px; }

.f-left {
  height: auto;
  width: 20%;
  float: left;
  border-right: 1px solid #c9c3ae; }
  .f-left .logo-box {
    background: green;
    width: 70px;
    height: 155px; }

.f-right {
  height: auto;
  width: 100%;
  display: inline-block;
  float: right;
  margin-left: 94px; }
  .f-right ul span {
    padding-right: 5px; }

.flex {
  display: -webkit-inline-flex;
  /* Safari */
  display: inline-flex;
  -webkit-justify-content: space-around;
  /* Safari */
  justify-content: space-around; }

.box-1 {
  width: 25%; }
  .box-1 li {
    margin-bottom: 11px; }
    .box-1 li .second-nav {
      padding-left: 15px;
      margin-top: 6px; }

.flex-b {
  display: -webkit-inline-flex;
  /* Safari */
  display: inline-flex;
  -webkit-justify-content: space-between;
  /* Safari */
  justify-content: space-between;
  width: 100%; }

.box-2 {
  width: 50%; }
  .box-2 li {
    margin-bottom: 6px; }
  .box-2 .nav-left {
    padding-left: 15px;
    width: 100%; }
  .box-2 .nav-right {
    width: 100%;
    padding-left: 15px; }

.box-3 {
  width: 25%; }
  .box-3 li {
    margin-bottom: 11px; }
    .box-3 li .second-nav li {
      padding-left: 15px;
      margin-top: 6px;
      margin-bottom: 0; }

.sns-wrapper-foot {
  background: #668a42;
  width: 710px;
  height: auto;
  padding: 15px 0;
  display: inline-block; }
  .sns-wrapper-foot li {
    display: inline-block;
    width: calc(100%/3.2); }
    .sns-wrapper-foot li a {
      text-align: center;
      color: #fff;
      font-size: 14px;
      display: block; }
    .sns-wrapper-foot li span i {
      padding-right: 15px;
      font-size: 22px; }
    .sns-wrapper-foot li.twitter {
      border-right: 1px solid #fff;
      border-left: 1px solid #fff; }

.f-container .online-shop-btn {
  color: #59793a;
  float: right;
  background: #fff;
  width: 190px;
  height: 55px;
  display: inline-block;
  line-height: 55px;
  text-align: center;
  padding: 0 35px; }
  .f-container .online-shop-btn span {
    padding-right: 10px; }
    .f-container .online-shop-btn span i {
      color: #59793a; }
  .f-container .online-shop-btn a {
    color: #59793a;
    display: block; }
.f-container .online-p {
  margin-top: 15px;
  font-size: 13px;
  letter-spacing: 3px; }

.cr {
  text-align: center;
  font-size: 8.5px;
  padding: 12px 0;
  background: #4b6e2c;
  letter-spacing: 2px; }

/*# sourceMappingURL=style.css.map */
